* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: rgb(255, 247, 235);
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 2000px;
    margin: auto;
}

/*  Nav */

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

nav .logo {
    width: 110px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    padding-bottom: 2px;
}

nav ul li a:hover {
    border-bottom: 2px solid red;
}

nav ul{
    flex: 1;
    margin-left: 20px;
}


main #showcase {
    width: 100%;
    margin: 0 0 20px 0;
    background: rgb(97,97,97);
    background: radial-gradient(circle, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    
}

main h1 {
    padding: 30px 0 30px 40px;
    font-size: 22px;
    font-weight: 600;
}

main #showcase ul {
    display: flex;
    align-items: center;
}

main #showcase ul img {
    border: 3px solid #000000;
    
}

main #showcase .side {
    flex: 1;
}


main #showcase #center {
    flex: 2;
    position: relative;
}

main #showcase .link {
    width: 150px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 40%; left: 0; bottom: 0; right: 0;
    background: rgb(117, 0, 0);
}

main #showcase .link:hover{
    background: rgb(180, 26, 26);
}

main #showcase .link a {
    display: block;
    margin: 5px 16px;
    font-size: 20px;
    font-weight: 500;
}

main #showcase #center h2 {
    position: absolute;
    width: 400px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 0 0 20px 20px;
    color: rgb(255, 228, 234);
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(0, 0, 0);
}

main #showcase img {
    margin-bottom: -7px;
    width: 100%;
    height: auto;
}


main .flexbox-main {
    margin: 0 20px;
}

main .flexbox-main .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main .flexbox-main .main .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    background: rgb(48, 48, 48);
}



main .flexbox-main .main .items img {
    width: 200px;
    margin: auto;
}

main .flexbox-main .main .items a:hover {
    filter: brightness(70%);
}


main.flexbox-main .main .flexItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}

main .flexbox-main .main .flexItemInfo p {
    display: block;
    font-weight: 550;
    margin: 20px 10px 40px 10px;
    width: 100px;
    word-wrap: normal;
    text-align: center
}

footer {
    margin-top: 30px;
    background: rgb(20, 20, 20);
    color: rgb(110, 110, 110);
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    display: flex;
    margin: auto;
    align-items: center;
}

footer li {
    margin-right: 30px;
    margin-bottom: 15px;
}

footer li a {
    color: darkgray;
}

footer li a:hover {
    color: darksalmon;
}

footer p {
    text-align: center;
}

/* Genre flexbox */

main .genreSection {
    margin: 0 20px;
}

main .genreSection .genreFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main .genreSection .genreFlex li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 15px;
    padding: 0 20px 0 20px;
    border-radius: 0 20px 20px 0;
    background: rgb(64,0,0);
background: linear-gradient(135deg, rgb(61, 44, 44) 0%, rgb(68, 47, 61) 24%, rgba(25,0,61,1) 57%, rgba(0,35,78,1) 81%, rgba(0,52,28,1) 100%);
background-size: 600% 100%;
    animation: gradient 16s ease infinite;
    animation-direction: alternate;
}

main .genreSection li img {
    width: 290px;
    margin-right: 10px;
}

main .genreSection li a:hover {
    filter: brightness(70%);
}


main .genreSection .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 450px;
}

main .genreSection .info p {
    display: block;
    word-wrap: normal;
}

/* Movies */
.video {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding-top: 42.85%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    display: flex;
    width: 100%;
    margin: 30px 0;
    padding: 3%;
    background: rgb(17, 17, 17);
}

.video-info img {
    width: 400px;
    margin-right: 30px;
}

.video-info .info-text {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.video-info .info-text h1 {
    font-size: 36px;
}

.video-info .info-text h3 {
    margin: 10px 0;
}

.video-info .info-text h4 {
    margin: 10px 0 50px 0;
}

.video-info .info-text p {
    font-size: 16px;
}

/* About */
#about-img {
    width: 600px;
    margin: auto;
}

#about-img img {
    width: 600px;
}

section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgb(58, 0, 0) 15%, rgba(0,28,77,1) 30%, rgba(42,0,70,1) 45%, rgb(59, 0, 36) 60%, rgba(0,5,74,1) 75%, rgb(66, 0, 59) 87%, rgb(48, 0, 0) 100%);
    background-size: 600% 100%;
    animation: gradient 16s ease infinite;
    animation-direction: alternate;
}

.about .info {
    background: rgb(0, 0, 0);
}

.about #first {
    width: 90%;
    align-self: flex-end;
    padding: 50px 30px 70px 20px;
    border-radius: 0 0 0 50px;
}

.about #first h1 {
    text-align: center;
    font-size: 42px;
}

.about #first h3 {
    text-align: center;
    font-size: 36px;
}

.about #central {
    margin: 50px auto;
}

.about #second {
    width: 90%;
    align-self: flex-start;
    padding: 50px 5% 70px 5%;
    border-radius: 0 50px 50px 0;
}

.about #second h1 {
    text-align: center;
    font-size: 42px;
}

.about #second h3 {
    text-align: center;
    font-size: 36px;
}

.about form {
    align-self: flex-end;
    background: black;
    margin-top: 90px;
    padding: 50px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 50px 0 0 0 ;
}

.about form * {
    font-size: 22px;
    margin: -5px 0;
}

.about form input {
    width: 350px;
}

.about form textarea {
    width: 350px;
    height: 100px;
}

.about form button {
    margin-top: 10px;
    margin-bottom: -10px;
    background: crimson;
    padding: 5px 20px;
    border: 0;
    border-radius: 3px;
    color: white;
}

.about form button:hover {
    background: rgb(182, 0, 0);
}

.about form button:active {
    background: rgb(0, 0, 0);
}


@media(max-width: 700px) {
    main #flexbox-main {
        margin: 0;
    }

    main #flexbox-main .items img {
        width: 250px;
    }

    main.flexbox-main .main .flexItemInfo {
        width: 180px;
    }




}

@keyframes gradient {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
